In [1]:
import pandas as pd

In [2]:
read_file = pd.read_csv (r'D:/SLIIT_Y4S1/IT19132938_RP/BEHAVIORAL_PATTERNS/DataSet_BC.txt')
read_file.to_csv (r'D:/SLIIT_Y4S1/IT19132938_RP/BEHAVIORAL_PATTERNS/DataSet_BC.csv', index=None)

In [4]:
spreadsheet = pd.read_csv('D:/SLIIT/SLIIT_Y4S1/IT19132938_RP/BEHAVIORAL_PATTERNS/spread.csv')

In [5]:
spreadsheet.head()

    Bovine Spongiform Encephalopathy/aggressive1.mp4
0   Bovine Spongiform Encephalopathy/aggressive2.mp4
1   Bovine Spongiform Encephalopathy/aggressive3.mp4
2  Bovine Spongiform Encephalopathy/head_tossing1...
3  Bovine Spongiform Encephalopathy/head_tossing2...
4      Bovine Spongiform Encephalopathy/headshy1.mp4

In [6]:
spreadsheet

      Bovine Spongiform Encephalopathy/aggressive1.mp4
0     Bovine Spongiform Encephalopathy/aggressive2.mp4
1     Bovine Spongiform Encephalopathy/aggressive3.mp4
2    Bovine Spongiform Encephalopathy/head_tossing1...
3    Bovine Spongiform Encephalopathy/head_tossing2...
4        Bovine Spongiform Encephalopathy/headshy1.mp4
..                                                 ...
159                     Lameness/lameness_score3_9.mp4
160                    Lameness/lameness_score3_10.mp4
161                    Lameness/lameness_score3_11.mp4
162                    Lameness/lameness_score3_12.mp4
163                    Lameness/lameness_score3_13.mp4

[164 rows x 1 columns]